.App {
  text-align: center;
  font-size:20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  font-size:20px;
}

.main {
    margin-top: 25px;
}

.timetable {
    margin-top: 0px;
    width: 100%;
    background-color: #fadef9;
}

.todo {
    margin-top: 0px;
    width: 100%;
    background-color: #d4ecfc;
}

.diary {
    margin-top: 0px;
    width: 100%;
    background-color: #ece9e1;
}

a {
  font-family:wenquanyi bitmap song, Verdana, Arial, Helvetica;
  text-decoration:none;
  font-size:18px;
  color:#444;
}

p {
  font-size:18px;
}

h1 {
  font-size: 22px;
}

a:hover {
  font-weight: bolder;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.form {
  background: #0e101c;
  max-width: 400px;
  display: inline;
  padding-top: 10px;
  margin-top: 10px;
}

form {
    display: inline;
    padding-top: 10px;
    margin-top: 10px;
}


input {
  display: block;
  box-sizing: border-box;
  width: 50%;
  border-radius: 4px;
  border: 1px solid grey;
  margin-bottom: 10px;
  font-size: 16px;
}

textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid grey;
  margin-bottom: 10px;
  font-size: 16px;
}


button[type="submit"]:hover,
input[type="submit"]:hover {
  background: #bdf2d2;
}

button[type="reset"]:hover,
input[type="reset"]:hover {
  background: #f2eebd;
}

button[type="submit"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}


input[type="button"]:hover {
  transition: 0.3s all;
}

button[type="submit"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none;
}

.img-with-text {
    text-align: justify;
}

.img-with-text img {
    display: block;
    margin: 0 auto;
    max-height:200px;
    max-width:300px;
    height:auto;
    width:auto;
}

.img-articles {
  height: 200px;
  width: 200px;
}

img {
    border: 1px solid #6e4c10;
}

li {
font-size: 16px;
    margin-bottom: 0.0ex;
	color:#4f380f;
}

quoted {
    border: #777777 1px solid;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #ece9e1;
    color: black;
	text-align:center
}

blockquote {
    text-align: center;
    border: #777777 1px solid;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #ece9e1;
    color: black;
    font-family: monospace;
}

H3 {
	font-size: 16px;
	margin-top: 0%;
	margin-bottom: 0%;
	color:#666;
	font-style:bolder;
	padding-left:5px;
	border-bottom: 1px solid #000;
	border-left: 3px solid #666;
}

H2 {
	font-size: 22px;
	padding-left:5px;
	font-style:bold;
	color:#333;
   text-align: left;
	border-top: 1px solid #666;
	border-left: 3px dotted #666;
	border-bottom: 1px solid #666;
	border-right: 1px solid #666;
}


h4 {
 color:#666;
 font-style:bolder;
 font-size: 25px;
 padding: 0px;
 margin-top: 0px;
 margin-bottom: 0px;
}

h5 {
 color:#666;
 font-style:bolder;
 font-size: 20px;
 padding: 0px;
 margin-top: 0px;
 margin-bottom: 0px;
}

.react-datepicker__time-list-item {
    width: 70px;
    margin-left: -40px;
    padding-left: 18px !important;
}
